API Documentation:

- Pokemon API Documentation: https://pokeapi.co/docs/v2
- Endpoint for Pokemon List: https://pokeapi.co/api/v2/pokemon
- Endpoint for Pokemon Details: https://pokeapi.co/api/v2/pokemon/{id or name}/
- Endpoint for Pokemon Evolution Chain: https://pokeapi.co/api/v2/evolution-chain/{id}/
- Pokemon Specie https://pokeapi.co/docs/v2#pokemon-species

Technical Requirements:

- Use React, redux, redux sagas

Acceptance Criteria:

- A list of 10 Pokemon should be displayed on the list page, including their names and images.
- Users should be able to navigate in the list using next and previous buttons to get 10 new Pokemon and have pages for navigation.
- Clicking on a Pokemon in the list should navigate to the detail page, which should display the Pokemon's name, image, abilities (names), and evolutions (if any).
- If the selected Pokemon has evolutions, they should be displayed as a list with their images and names. Clicking on an evolution should navigate to its detail page.
- Users should be able to navigate between the list and detail pages using the browser's back and forward buttons.
- Users should be able to bookmark their favorite Pokemon's details page.

Tests:

- AC 1 and 2 should be covered with unit tests as much as possible including UI and logic
